<section id="services" class="container">
  <div class="content">
    <h1>
      Os<span class="highlight"> melhores</span><br />
      servicos
    </h1>
    <p class="pb-3" style="font-size: larger">
      <!-- serviços de reparo e automóveis para garantir que seu veículo tenha o
      melhor desempenho.<br />Nosso equipe qualificada de técnicos certificados. -->
      serviços de reparo
    </p>
    <button type="button" class="btn btn-primary btn-lg ui-button">
      Large button
    </button>
  </div>

  <div style="display: flex;">
    <div class="card" style="width: 18rem">
      <img src="../../../assets/service1.png" alt="..." />
    </div>
    <!-- <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div> -->
    <div>
      <h1>lalalala</h1>
      <p class="pb-4">bebebeb</p>

      <a href=""> VER MAIS</a>
    </div>
  </div>
</section>
